RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^pronto index.php?sec=pronto [NC,L]
RewriteRule ^svip/(.+) index.php?sec=svip&id=$1 [NC,L]
RewriteRule ^bids index.php?sec=producto&op=categoria&hash=bidPack [NC,L]
RewriteRule ^carro index.php?sec=carro [NC,L]
RewriteRule ^micuenta/(.+) index.php?sec=cuenta&op=$1 [NC,L]
RewriteRule ^micuenta index.php?sec=cuenta [NC,L]
RewriteRule ^carro/(.+) index.php?sec=carro&op=$1 [NC,L]
RewriteRule ^invitaciones index.php?sec=invitacion [NC,L]
RewriteRule ^invitacion/(.+) index.php?sec=invitacion&op=acepta&id=$1 [NC,L]
RewriteRule ^(.+) index.php?sec=pagina&id=$1 [NC,L]
